<% if logged_in? %>
<div class="profile">
  <%= render partial: "shared/profile", locals: {
      user: @user,
      status: @status
    } %>
</div>

 <div class="posts">
    <%= render partial: "shared/profile_nav", locals: {
      user: @user
    } %>
    <%= render partial: "shared/post_form", locals: {
        post: @post,
        user: @user,
        mode: "create",
        message: "Post"
      } %>
    <%= render partial: "shared/post", collection: @posts %>
 </div>

  <!-- <%= render partial: "shared/friend_requests", collection: @users, as: :user %> -->
<% else %>
<div class="splash group">
  <div class="splash-info">
    <div class="splash-info-text">
      <p class="pitch"><strong >Connect with friends on Ansiktebook</strong></p>
      <p class="more-info">Ansikte is Swedish for face</p>
      <p class="info"><strong>See Photos and Posts</strong> from friends and family</p>
      <p class="info"><strong>Share what's new</strong> in your life</p>
      <p class="info"><strong>Find new friends</strong> in your network</p><br>
      <p class="more-info">Log in to a Twin Peaks-themed demo account here:</p>
    </div>
    <div class="demo-button">
      <a href="<%= demo_url %>">Demo</a>
    </div>
  </div>
  <%= render partial: "users/form", locals: {
    user: @user,
    mode: "create",
    action: users_url(@user),
    message: "Sign Up"
  } %>
</div>
<% end %>

<div id="content">
</div>