<% if logged_in? %>
  <%= render partial: "shared/profile", locals: {
      user: @user,
      status: @status
    } %>

  <div class="posts">
    <%= render partial: "shared/profile_nav", locals: {
      user: @user
    } %>
    <%= render partial: "shared/post_form", locals: {
        post: @post,
        user: @user,
        mode: "create",
        message: "Post"
      } %>
    <%= render partial: "shared/post", collection: @posts %>
  </div>

  <!-- <%= render partial: "shared/friend_requests", collection: @users, as: :user %> -->
<% else %>

<% end %>