<% if logged_in? %>
<div class="profile">
  <%= render partial: "shared/profile", locals: {
      user: @user,
      status: @status
    } %>
</div>

 <div class="posts">
    <%= render partial: "shared/profile_nav", locals: {
      user: @user
    } %>
    <%= render partial: "shared/post_form", locals: {
        post: @post,
        user: @user,
        mode: "create",
        message: "Post"
      } %>
    <%= render partial: "shared/post", collection: @posts %>
 </div>

  <!-- <%= render partial: "shared/friend_requests", collection: @users, as: :user %> -->
<% else %>
<div class="splash group">
  <div class="demo-button">
    <a href="<%= demo_url %>">Demo</a>
  </div>
  <%= render partial: "users/form", locals: {
    user: @user,
    mode: "create",
    action: users_url(@user),
    message: "Sign Up"
  } %>
</div>
<% end %>

<div id="content">
</div>