<% if mode == "update"  %>
  <% action = user_url(user) %>
<% elsif mode == "create" %>
  <%= action = users_url %>
<% end %>
<form action="<%= action %>" method="post">

  <% if mode == "update" %>
    <input type="hidden" name="_method" value="put">
  <% end %>

  <%= auth_token %>

  <label for="user_username">Full Name</label>
  <input type="text"
         name="user[username]"
         value="<%= user.username %>"
         id="user_username">

  <label for="user_email">Email</label>
  <input type="email"
         name="user[email]"
         value="<%= user.email %>"
         id="user_email">

  <label for="user_password">Password</label>
  <input type="password"
         name="user[password]"
         id="user_password">

  <label for="user_password_confirmation">Password Confirmation</label>
  <input type="password"
         name="user[password_confirmation]"
         id="user_password">

  <label for="user_birthday">Birthday</label>
  <input type="date"
         name="user[birthday]"
         value="<%= user.birthday %>"
         id="user_birthday">

  <label for="user_about">About Me</label>
  <input type="textarea"
         name="user[about]"
         id="user_about">

  <input type="submit"
         value="<%= message %>">

</form>

<% if mode == "update"  %>
  <%= button_to "Delete Account", user_url(current_user), method: :delete %>
<% end %>