<div class="user-form">
<form action="<%= action %>"
      enctype="multipart/form-data"
      method="post">

  <% if mode == "update" %>
    <input type="hidden" name="_method" value="put">
  <% end %>

  <%= auth_token %>

  <!-- <label for="user_username"></label> -->
  <input type="text"
         name="user[username]"
         value="<%= user.username || ""%>"
         placeholder="Name"
         id="user_username"><br>

  <!-- <label for="user_email"></label> -->
  <input type="email"
         name="user[email]"
         value="<%= user.email || "" %>"
         placeholder="Email"
         id="user_email"><br>

  <!-- <label for="user_birthday"></label> -->
  <input type="date"
         name="user[birthday]"
         value="<%= user.birthday || "" %>"
         id="user_birthday"><br><br>

  <!-- <label for="user_about"></label> -->
  <input type="textarea"
         name="user[about]"
         value="<%= user.about || "" %>"
         placeholder="About"
         id="user_about"><br><br>

  <!-- <label for="user_password">Password</label><br> -->
  <input type="password"
         name="user[password]"
         placeholder="Password"
         id="user_password"><br>

  <!-- <label for="user_password_confirmation">Confirm Password</label><br> -->
  <input type="password"
         name="user[password_confirmation]"
         placeholder="Confirm Password"
         id="user_password"><br>

  <label for="user_profile_picture">Profile Picture</label>
  <input type="file"
         name="user[profile_picture]"
         accept="image/*"
         value="<%= user.profile_picture %>"
         id="user_profile_picture">



  <input type="submit"
         value="<%= message %>">

</form>

<% if mode == "update"  %>
  <p>
    <%= button_to "Delete Account", user_url(user), method: :delete %>
  </p>
<% end %>
</div>