<div class="post">
  <div class="group">
    <div class="post-image">
      <img src="<%= post.author.profile_picture.url(:small) %>"
           height=75
           width=75>
    </div>
    <div class="post-content">
      <a href="<%= user_url(post.author) %>">
        <strong><%= post.author.username %></strong>
      </a>
    <% unless post.author == post.recipient %>
      <strong>></strong>
      <a href="<%= user_url(post.recipient) %>">
        <strong><%= post.recipient.username %></strong>
      </a>
    <% end %>
      <p class="post-text"><%= post.text %></p>
    </div>
  </div>

  <div class="post-footer">
    <div class="likes <%= "can-like" unless post.liked_by?(current_user) %>">
      <div class="unlike ">
        <%= unlike(post) %>
      </div>
      <div class="like">
        <%= like(post) %>
      </div>
    </div>

    <div class="post-footer-item">
      posted <%= time_ago_in_words post.created_at %> ago
    </div>

    <div class="post-footer-item">
      <%= post.likes.count %>
      <%= post.likes.count == 1 ? "like" : "likes" %>
    </div>

    <% post.comments.each do |comment| %>
      <div class="group">
        <div class="comment-image">
          <img src="<%= comment.author.profile_picture.url(:small) %>"
               height=75
               width=75>
        </div>
        <div class="comment-content">
          <a href="<%= user_url(comment.author) %>">
            <strong><%= comment.author.username %></strong>
          </a>
          <div class="comment-text"><%= comment.body %></div>
        </div>
      <div class="post-footer-item comments delete-comment">
      <% if comment.author == current_user || post.recipient == current_user %>
        <%= button_to "Delete", comment_url(comment), method: :delete %>
      <% end %>
      </div>
    </div>
    <% end %>

    <div class="post-footer-item comment">
      <form action="<%= user_post_comments_url(current_user.id, post.id) %>" method="post">
        <%= auth_token %>
        <input type="hidden" name="comment[commentable_id]" value="<%= post.id %>">
        <input type="hidden" name="comment[commentable_type]" value="Post">
        <input type="textarea" name="comment[body]" id="post_comment">
        <input type="submit" value="Comment">
      </form>
    </div>

    <div class="post-footer-item edit">
    <% if post.author == current_user %>
    <div class="edit-or-delete-comment">
      <%= button_to "Edit", edit_user_post_url(post.recipient_id, post), method: :get %>
    </div>
    <div class="edit-or-delete-comment">
      <%= button_to "Delete", user_post_url(post.recipient_id, post), method: :delete %>
    </div>
    <% elsif post.recipient == current_user %>
    <div class="edit-or-delete-comment">
      <%= button_to "Delete", post_url(post.recipient_id, post), method: :delete %>
    </div>
    <% end %>
    </div>
  </div>
</div>