<div class="post">
  <div class="group">
    <div class="post-image">
      <img src="<%= post.author.profile_picture.url(:small) %>"
           height=75
           width=75>
    </div>
    <div class="post-content">
      <a href="<%= user_url(post.author) %>">
        <strong><%= post.author.username %></strong>
      </a>
    <% unless post.author == post.recipient %>
      <strong>></strong>
      <a href="<%= user_url(post.recipient) %>">
        <strong><%= post.recipient.username %></strong>
      </a>
    <% end %>
      <p class="post-text"><%= post.text %></p>
    </div>
  </div>

  <div class="post-footer">
  <% if post.liked_by? current_user %>
    <form class="post-footer-item"
          action="<%= user_post_likes_url(current_user.id, post.id) %>"
          method="post">
      <input type="hidden" name="_method" value="delete">
      <%= auth_token %>
      <input type="hidden" name="likeable_id" value="<%= post.id %>">
      <input type="hidden" name="likeable_type" value="Post">
      <input type="submit" value="Unlike">
    </form>
  <% else %>
    <form class="post-footer-item"
          action="<%= user_post_likes_url(current_user.id, post.id) %>"
          method="post">
      <%= auth_token %>
      <input type="hidden" name="likeable_id" value="<%= post.id %>">
      <input type="hidden" name="likeable_type" value="Post">
      <input type="submit" value="Like">
    </form>
  <% end %>

    <div class="post-footer-item">
      posted <%= time_ago_in_words post.created_at %> ago
    </div>

    <div class="post-footer-item">
      <%= post.likes.count %>
      <%= post.likes.count == 1 ? "like" : "likes" %>
    </div>

    <div class="post-footer-item comments">
      <% post.comments.each do |comment| %>
      <div class="post-footer-item comment-item">
        <div class="group">
          <div class="comment-image">
            <img src="<%= comment.author.profile_picture.url(:small) %>"
                 height=75
                 width=75>
          </div>
          <div class="comment-content">
            <a href="<%= user_url(comment.author) %>">
              <strong><%= comment.author.username %></strong>
            </a>
            <p class="comment-text"><%= comment.body %></p>
          </div>
        </div>
        <div class="post-footer-item comments delete-comment">
        <% if comment.author == current_user || post.recipient == current_user %>
          <%= button_to "Delete", comment_url(comment), method: :delete %>
        <% end %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="post-footer-item comment">
      <form action="<%= user_post_comments_url(current_user.id, post.id) %>" method="post">
        <%= auth_token %>
        <input type="hidden" name="comment[commentable_id]" value="<%= post.id %>">
        <input type="hidden" name="comment[commentable_type]" value="Post">
        <label for="post_comment">Add Comment</label>
        <input type="textarea" name="comment[body]" id="post_comment">
        <input type="submit" value="Comment">
      </form>
    </div>

    <div class="post-footer-item edit">
    <% if post.author == current_user %>
      <%= link_to "Edit", edit_post_url(post) %>
      <%= button_to "Delete", post_url(post), method: :delete %>
    <% elsif post.recipient == current_user %>
      <%= button_to "Delete", post_url(post), method: :delete %>
    <% end %>
    </div>
  </div>
</div>