<% if logged_in? %>
  <div class="navbar logged-in">
    <a href="<%= static_pages_url %>">Ansiktebook</a>
    <!-- <a href="<%= users_url %>">Users</a> -->
    <div class="top-right">
	  <div class="top-right-item">
      	<a href="<%= user_friend_requests_url(current_user) %>">Requests</a>
  	  </div>
	  <div class="top-right-item">
      	<a href="<%= user_notifications_url(current_user) %>">Notifications</a>
	  </div>
	  <div class="top-right-item">
        <a href="<%= edit_user_url(current_user) %>">Settings</a>
	  </div>
	  <div class="top-right-item">
      	<%= button_to "Sign Out", session_url, method: :delete %>
	  </div>
    </div>
  </div>
<% else %>
  <div class="navbar logged-out">
    <a href="<%= static_pages_url %>">Facebook</a>
    <a href="<%= demo_url %>">Demo</a>
    <div class="login">
    <form action="<%= session_url %>" method="post">

      <%= auth_token %>
      <div class="email">
      <label for="user_email">Email</label>
      <input type="email"
             name="user[email]"
             value="<%= @user.email %>"
             id="user_username">
      </div>

      <div class="password">
      <label for="user_password">Password</label>
      <input type="password"
             name="user[password]"
             id="user_password">
      </div>

      <input type="submit"
             value="Sign In">
    </form>
    </div>
  </div>
<% end %>