<!DOCTYPE html>
<html>
<head>
  <title>Facebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style>

  </style>
</head>
<body>

  <div class="navbar">
    <%= render "layouts/navigation", object: @user %>
  </div>
  <div class="errors">
    <%= render "layouts/errors" %>
  </div>

  <div class="wrapper">
    <%= yield %>
  </div>

</body>
</html>
